/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:		VIVO - CU Banner when editing
Author:		mw542@cornell.edu
Updated:	March 7, 2008
*/

#cu-logo img { display: none; }

#cu-logo { background: url(../site_icons/layout/cu_logo.gif) no-repeat 12px top; }

#cu-logo a { width: 240px; height: 75px; margin-left: 12px, text-indent: 0; }

select#search-form-qualifier {display: none;}