/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/****************************************
 CSS for default Vitro application / VIVO
 entity display styles
 
 This version
 2006-06-21	bjl23
 2008-04-17 jc55
 
 Original version
 2006-01-05 bdc34
*****************************************/

/* added by jc55 to clean up clone rendering */
.admin {
	margin: 10px 0;
	padding: 10px;
	background-color: #8ac;
}

.admin a:link, .admin a:visited {
	color: #fff;
}

.admin a:hover {
	color: #203e48;
}

h3.propertyName {
	clear: left;
	display: inline;
    margin: 0;
	padding: 0;
	font-size: 1.0em;
	line-height: 1em;
	color: #000;
}

div.datatypeProperties {
  margin-left: 1em;
  margin-top: .3em;
}

.datatypeProperty { /* added by jc55 */
	margin-left: 2em;
}

ul.datatypeProperties {
    margin-left: 1em;
    margin-top: .3em;
}

ul.datatypeProperties li{
	margin-top:1.2ex;
	margin-bottom:0.8ex;
	margin-left:0em;
	line-height:2.5ex;
}

ul.datatypePropertyDataList{
	list-style-type:square;
	margin-left:1.2em;
	padding-left:1.2em;
}

ul.datatypePropertyDataList li{
	margin-top:0.4ex;
	margin-bottom:0.4ex;
	line-height:2.7ex;
}


/************** Entity ***********/

.entity{
	margin-left:0.4em;
	margin-top:1em;
	padding-bottom:2ex;
	font-size:0.9em;
	line-height:1.4em;
}

.entity h1{
	margin-left:0;
	display: inline;
	font-size:1em;
}


.description{
/*
 	line-height:2.7ex;
 	margin-left:0em;
 	margin-right:0em;
 */
 	margin-top:0.4ex;
/*
 	margin-bottom:5.4ex; 
 	padding-right:1.5em;
 */
}


.description ul{
	font-weight:normal;
	margin-top:1ex;
	list-style-type:square;
	margin-left:1.2em;
	padding-left:1.2em;
}

.description ul li{
	font-weight:normal;
	margin-top:0.4ex;
	margin-bottom:0.4ex;
	line-height:2.7ex;
}

.description p {
	font-weight:normal;
	margin-top:1ex;
	margin-bottom:1ex;
	line-height:2.7ex;
}

.qualifier{
    font-style: italic;
}

.citation {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height:2.5ex;
	margin-top:0.4ex;
	margin-left:0em;
	width:60%;
}

p.caption {
	color:#AAA;
	background-color:inherit;
	font-style:italic;
}

.thumbnail img {
	margin-right:1em;
	margin-top:4ex;
}

/****** Entity Property Lists *********/

ul.properties {
	list-style-type:none;
	margin-top: 0.3em;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
/*  margin-left:0;*/
  margin-left: 1em;
	padding-left:0;
}

ul.properties li{
/*  margin-top:0.5ex;*/
	margin-bottom:0;
	margin-left: 1.2em;
	margin-top: 0;
/*  line-height:1.2em;*/
}

ul.datatypePropertyValue li,
ul.properties li {
    clear: left; /* prevent list items from stacking on floated edit icons */
}

div.editing ul.properties li {
/*    margin-left: 1em;*/
/*    margin-left: 0;*/
/*    list-style-type: none;*/
}

ul.propertyLinks{
	list-style-type:square;
	margin-top:0.25ex;
	margin-bottom:0.3ex;
	padding-top:0.2em;
	margin-left:1.2em;
	padding-left:1.2em;
}

ul.propertyLinks li{
	font-size:0.95em; 
	margin-top:0.4ex;
	margin-bottom:0.4ex;
	line-height:2.7ex;
}

ul.datatypeProperties {
	list-style-type:none;
	margin-left:0;
	padding-left:0;
}

ul.datatypeProperties li{
	/* font-weight:600; */
	font-weight:normal;
	margin-top:2ex;
	margin-bottom:1ex;
	margin-left:0em;
	line-height:2.5ex;
}

ul.datatypeProperties ul{
	font-weight:normal;
	margin-top:1ex;
	list-style-type:square;
	margin-left:1.2em;
	padding-left:1.2em;
}

ul.datatypeProperties ul li{
	font-weight:normal;
	margin-top:0.4ex;
	margin-bottom:0.4ex;
	line-height:2.7ex;
}

ul.datatypeProperties p {
	font-weight:normal;
	margin-top:0.4ex;
	margin-bottom:0.4ex;
	line-height:2.7ex;
}

.indent {
	font-weight:normal;
	margin-top:1ex;
	margin-left:1.1em;
	margin-bottom:1ex;
}

/************ servlet buttons **************************/

.servletButton{
	margin-top:2.5ex;
	margin-bottom:2.5ex;
}

.servletButton input{
	background-color:#FAFAD2;
	border-color:#CCCCDD;
	color:#0000CD;
	font-size:0.9em;
	line-height:120%;
}

/************ toggle-related ***************************

These controls are set up to use JavaScript but degrade to use 
CSS :hover classes -- JavaScript can be found in controls.js

IE6 does not support :hover so it will 
******************************************************************/

span.entityMoreSpan {
  display: block;
  font-style: italic;
  background: url(../site_icons/plus.gif) left center no-repeat;
  padding-left: 14px;
  margin: .5em 0;
  line-height: 1em;  
  cursor: pointer;
}

div.navlinkblock:hover span.entityMoreSpan,
div.navlinkblock-collapsed:hover span.entityMoreSpan,
span.entityMoreSpan:hover {
  color: #8C65A1;
}

div.navlinkblock:hover span.entityMoreSpan,
div.navlinkblock-expanded span.entityMoreSpan {
  background: url(../site_icons/minus.gif) left center no-repeat;
}


div.navlinkblock:hover div.extraEntities,
div.navlinkblock-expanded div.extraEntities {
  display: block;
}

div.extraEntities {
  display: none;
}

/* Hack for IE6 */
* html div.navlinkblock div.extraEntities {
  display: block;
}

span.entityMoreSpan {
  margin-left: 1em;
}

/***************** link-related ****************************/
 
 a.propertyLink{
   font-weight:bold;
 }
 
 /**************** editing links **************************/
 a.editlink {   
   font-weight:bold;
   background-color:#FFFF99;
   float: right;
  
 }
 
