/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:		Academic Profile screen styles
Author:		mw542@cornell.edu
Updated:	April 21, 2008
*/

/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/*div#header a, div#header img {display: none; }*/
div#header { height: 72px; }
div#header a.manage, div#header a.logout {display: block; float: right; margin-right: 15px;}
div#header a.image img {display: block;}

#contentwrap { border-top: 3px solid #b21a1b; background: #fff url(../site_icons/layout/bg_facedit_chalkboard.jpg) no-repeat left top; }

body { background: #c2c0c0; }

ul#profileCats { display: block; }

ul#profileCats li a:link, ul#profileCats li a:visited { color: #8fa993; background: #eaf0eb; }

ul#profileCats li a:hover { color: #eaf0eb; background: #8fa993; }

ul#profileCats li a:link#currentCat, ul#profileCats li a:visited#currentCat { color: #fff; background: #579c62; }

h1 { font-weight: normal; font-family: Verdana, Helvetica, sans-serif; color: #fff; font-size: 6.0em; }
body.formsEdit h2 { font-size: 1.7em; }

.entity em.moniker { font-style: normal; color: #b21a1b; padding-top: .9em; padding-left: 12px; }
/*div.entity ul.externalLinks { display: none; }  /* Hiding external links under name */*/

div.thumbnail { display: none; padding: 14px; margin-top: 35px; } /* Hidden when editing */

h3.propertyName { float: left; clear: left; color: #fff; background-color: #6a7f6b; font-size: 1.1em; font-weight: bold; text-transform: uppercase; padding: 3px 5px; margin-bottom: 0; }

.propsCategory h3 {	color: #579C62; }

ul.properties, div.datatypePropertyValue { padding: 8px 12px 5px 12px; margin:0; background-color: #f2f0f0; }

li.datatypeProperty { padding-top: 20px; }
div#datatypeProperties ul, div#datatypeProperties div, ul.propertyLinks { padding: 6px 0 6px 12px; background-color: #f2f0f0; }
/*div#datatypeProperties p { padding: 6px 0 6px 12px; }*/

div#datatypeProperties div { clear: left; }
div#datatypeProperties div ul { padding: 0; }
div.indent { background-color: #f2f0f0; margin: 0; padding: 8px 12px 5px 12px; }

div.navlinkblock { background-color: #f2f0f0; padding: 8px 12px 5px 12px; }

div.citation { clear: both; }
p.caption { margin-top: 2em; }

div.clearingDiv {clear: both;}

/* Here are the changed link colors */
span.entityMoreSpan { color: #50a882; }
span:hover.entityMoreSpan, span:active.entityMoreSpan { color: #8a4a8a; }

a:link.propertyLink, a:visited.propertyLink { color: #50a882; border: none; }
a:hover.propertyLink, a:active.propertyLink { color: #8a4a8a; border: none; }

a:link.externalLink, a:visited.externalLink { color: #a7595a; border: none; }
a:hover.externalLink, a:active.externalLink { color: #ff0003; border: none; }

p.caption a:link, p.caption a:visited { color: #50a882; border: 0; }

/* Alterations for 2-column layout */
/*#content.full { clear: none; width: 67%; min-width: 400px; padding-right: 0; margin-top: 40px; }*/
/*.entity { padding-right: 0; }*/
.citation, ul.externalLinks, .thumbnail, ul.properties, .contentsBrowseGroup h2 { clear: left; }  /* To clear the moniker but not sidebar */

#dashboard { border-left: 1px solid #e1e1e1; margin: 0; padding: 0; text-align: left; background-image: none; background-position: top left; }
/*#dashboard { float: right; width: 30%; border-left: 1px solid #e1e1e1; padding: 0; }*/

/*#dashboard p { padding-left: 16px;}*/
#dashboard img { display: block; border: 2px solid #e1e1e1; width: 100px; height: 100px; margin: 0 0 16px 16px; padding: 0; }
#dashboard p { margin-left: 8px; }

#dashboard a:link, #dashboard a:visited { color: #4d5155; }
#dashboard a:hover, #dashboard a:active { color: #8a4a8a; }

ul#dashboardNavigation li h2 { font-size: 1.1em; background: #eaf0eb url(../site_icons/layout/bg-dashboardcat.gif) top left repeat-y; padding: 7px 8px 4px 8px; margin: 3px 0 0 0; text-transform: uppercase; } 
ul#dashboardNavigation li h2:hover { cursor: pointer; }
ul#dashboardNavigation li h2.active { color: #579C62; }


ul.dashboardCategories { padding: 4px 8px 12px 0; }
ul.dashboardCategories li { list-style-type: disc; font-size: 1em; padding: 0; margin-left: 23px; }

div.toBeDeleted { margin: 12px 0; padding: 10px; width: 80%; background: #FFB673; border: solid 1px #FF7B2E;}
div.toBeDeleted ul { padding-left: 15px; }
div.toBeDeleted ul li { list-style-type: disc; }

#footer a:link, #footer a:visited {	color: #bf7374; border-bottom: 1px solid #bf7374; }
#footer a:hover, #footer a:active {	color: #b21a1b; border-bottom: 1px solid #b21a1b; }
#footer { color: #878787; }
