/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* *************** advanced search **************** */

.searchTips {
	font-size:0.9em;
	margin-top:2ex;
	margin-left:1em;
	padding-right:0.45em;
}

.searchTips li{
	margin-top:1ex;
	margin-bottom:1ex;
}

.advancedSearchForm {
	padding-top:1.5ex;
	padding-bottom:1.5ex;
	padding-left:1em;
	padding-right:1em; 
	margin-top:2ex;
	background-color:#DDDDDD;
	color:inherit;
	font-size:0.9em;
}

.moreSearchOptions {
	font-size:0.9em;
	text-align:left;
	padding-top:5ex;
	padding-bottom:3ex;
	margin-left:1em;
}

.moreSearchOptions a {
	font-size:1.1em;
}

.moreSearchOptions p {
	margin-top:0.5ex;
	margin-bottom:0.5ex;
}

.moreSearchOptions img {
	position:relative; top:+0.7ex;
}

.moreSearchOptions ul{
	list-style-type:none;
	margin-left:0;
	padding-left:0;
}

.moreSearchOptions ul li{
	margin-top:2.5ex;
	margin-bottom:2.5ex;
	margin-left:0;
	padding-left:0;
}

#search1 {
	padding:0;
	margin-left:1em;
}

#search1 p{
	margin-top:0.1ex;
	margin-bottom:0.1ex;
	padding-left:0;
	margin-left:0;
}

#search1 input{
	margin-left:0;
}

#search1 select{
	margin-left:0;
}


/* ****************** toggle-related ***************** */

.resultsMoreSpan{
	margin-left:1.7em;
	position:relative; top:-0.7ex;
}

.resultsMoreSpan img{
	position:relative; top:+0.8ex;
	margin-right:0.1em;
}