/****************************************
 * Albert R. Mann Library 
 * Cornell University
 * Ithaca, NY 14853
 ****************************************/

/*
Title:		VIVO screen styles
Authors:	nac26@cornell.edu, mw542@cornell.edu
Updated:	June 11, 2008 
                * bjl23@cornell.edu tweaked a.add and a.edit and copied dt/dd styling
                  because alignment was way off on default theme
*/

/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* **** 2008-06-11 BJL copied from VIVO's vivo.css **** */
form dt {
        float: left;
        clear: left;
        text-align: right;
        margin: 5px 10px 0 0;
        width: 140px;
}





/****************************************************************
content roll call
****************************************************************/
.admin {
	margin: 10px 0;
	padding: 10px;
	background-color: #8ac;
}

.admin a:link, .admin a:visited {
	color: #fff;
}

.admin a:hover {
	color: #203e48;
}

.entityValues {
	color: #555;
	font-size: 0.9em;
	line-height: 0.9em;
}

.citation {
	clear: both;
	padding-top: 25px;
}

span.SearchTerm, h1 span.SearchTerm, a:link span.SearchTerm, a:visited span.SearchTerm {
	background: #ffb;
}

.entity {
	margin-top: 0;
	padding-top: 0;
	padding-right: 16px;
}

.entity em.moniker {
	/*	float: left; */
  display: inline;
	/* padding-top: 12px; */
	/* padding-left: 16px; */
	font-size: 1em;
/*  color: #888;*/
}

ul.externalLinks {
	clear: left;
	margin-bottom: 20px;
	padding-left: 2px;
}

ul.externalLinks li {
	display: inline;
	padding-right: 6px;
/*  border-left: solid 1px #ccc;*/
}

ul.externalLinks li.first {
	padding-left: 0;
	border-left: none;
}

ul.externalLinks a {
  text-decoration: underline;
}

a:link.propertyLink, a:visited.propertyLink {
	font-weight: bold;
}

a:link.externalLink, a:visited.externalLink {
	color: #21A6BA;
/*  font-size: 0.9em;*/
  font-weight: normal;
  font-style: normal;
/*	border: none;*/
}

a:visited.externalLink {
	color: #67999E;
}

a:hover.externalLink {
	color: #f81;
}

.thumbnail {
	float: left;
	clear: both;
	margin-bottom: 20px;
}

ul.properties {
	clear: left;
}

ul.properties li {
  color: #777777;
}

li.editcontrols {
    list-style-type: none;
    margin-left: 0;
}

a:link.add, a:visited.add {
    color: #76BF6C;
    font-size: .8em;
    padding-left: 3px;
}


a.add img {
    /* padding-top:3.6ex; */
    padding-left:0.5em;
    margin-bottom: -2px;
    /* margin-top: .5em; */
}


a.edit img, a.delete img {
        padding-left: .5em;
	/* margin-left: 10px; */
/*  vertical-align: bottom;*/
    vertical-align: middle;
}

a.edit img {
	margin-right: -5px; /* tighten space between edit and delete icons */
}

div.editing a.edit img,
div.editing a.delete img {
    padding-left: 0;
}

div.editing a.edit img {
    margin-right: 4px;  
}

div.editing a.delete {
    padding-right: 7px;
}

div.editing a.edit,
div.editing a.delete {
/*    float: left;*/
/*    color: #C76C1C;*/
    color: #76BF6C;
/*    color: #DF905D;*/
    padding-right: 4px;
}

span.statementWrap {
}

span.editLinks,
em.nonEditable {
  font-size: .8em;
  padding-left: 5px;
}

em.nonEditable {
  color: #bbb;
}

li.property {
	color: #bbb;
	padding-top: 20px;
}

li.property a.edit {
	padding: 6px;
}

ul.datatypePropertyValue,
ul.datatypePropertyValue li {
    margin: 0;
    padding: 0;
}

ul.datatypePropertyValue {
    margin-left: 1.3em;
  margin-left: 0;
}

div.editing ul.datatypePropertyValue {
    /*margin-left: 0;*/  /* overriding when editing icons are used */
}

div.editing ul.datatypePropertyValue li {
    list-style-type: none; /* overriding when editing icons are used */
}

ul.datatypePropertyValue li p {
    margin: 0;
    display: inline; /* data properties with multiple statements render as lists with paragraphs inside */
}

.datatypePropertyValue {
	clear: left;
}

.propsItem {
    margin: 2em 0;
}

.propsItem p {
    line-height: 1.4em;
}

ul.tabEntities {
	margin-top: 25px;
}

#datatypeProperties ul ul {
	margin-left: 10px;
	font-size: 0.9em;
}

#datatypeProperties ul, #datatypeProperties ol, #datatypeProperties p {
	clear: left;
}

.datatypeProperties ol {
    margin-left: 18px;
}

ul.properties li.property, ul.datatypeProperties li.datatypeProperty, ul.tabEntities li {
	margin-top: 7px;
	font-size: 1.1em;
	font-weight: bold;
}

ul.datatypeProperties li.datatypeProperty span, span.entityMoreSpan span.resultsMoreSpan {
	font-weight: normal;
	color: #185;
}

ul.datatypeProperties li.datatypeProperty span:hover, span:hover.entityMoreSpan span:hover.resultsMoreSpan {
	color: #f81;
}

ul.properties li.property ul, ul.datatypeProperties li.datatypeProperty ul, div.indent, div.blurb {
	margin-top: 4px;
/*	margin: 4px 0 0 8px;*/
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.5em;
}

div.indent, ul.datatypeProperties li.datatypeProperty p, div.blurb {
	font-size: 0.99em;
}

div.description {
    margin: 1em 0;
}


div.description ol {
	margin-left: 18px;
}


/****************************************************************
basics roll call
****************************************************************/
/* Disable the deprecated HTML <font> tag. Reduces need to zoom.) */
font {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
}

div.pm-indicators {
	font-size: 2.8em !important;
}

p {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.4em;
	text-align: left;
}


h1 {
	margin: 7px 0 2px 0;
	font-size: 2.3em;
	font-family: Verdana, Helvetica, sans-serif;
	color: #fff;
}

h2 {
	margin: 20px 0 2px 0;
	font-size: 2.3em;
	font-family: Verdana, Helvetica, sans-serif;
	color: #000;
}

.entity h2 {
	margin: 7px 0 2px 0;
	font-size: 1.5em; /* jc55 was 2.3 */
	font-family: Verdana, Helvetica, sans-serif;
	color: #000;
}

.entity h2 em {
	padding: 1.5em 0 2em 0;
	font-size: 0.85em; /* jc55 was 0.55 em */
	font-weight: normal;
	font-style: normal;
	color: #397382;
}

.entity h2 {
	/* float: left; */
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 0;
}

#label h2 {
    display: inline;
    padding-right: 12px;
    line-height: 1.2em;
}

span.h2 {
	display: block;
	margin: 15px 0 4px 0;
	font-size: 1.5em;
	font-weight: bold;
	color: #054;
}

h2.primary {
	margin-top: 10px;
	font-family: Georgia, Verdana, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	color: #630;
}


.siteMap h2  {
    font-size: 1.1em;
    /*color: #203E48;*/
}


/*
h3 {
	margin: 30px 0 4px 0;
	font-size: 1.7em;
	line-height: 1.3em;
	font-family: Verdana, Helvetica, sans-serif;
	color: #203e48;
}
*/

/*h3 {
    margin-top: 25px;
    font-size: 1.0em;
    color: #087;
}*/

h3 a:link, h3 a:visited {
	color: #134;
	border-color: #134;
}

h3 a:hover {
	color: #f81;
}

/*
h3.propertyName, .propsCategory h4 {
	clear: left;
	float: left;
	margin: 30px 0 3px 0;
	padding: 0;
	font-size: 1.2em;
	color: #000;
}
*/

.propsCategory h3 {
	clear: left;
	float: left;
	color: #2E515C;
	text-transform: uppercase;
}

h3.centered {
	margin-top: 10px;
	font-size: 1.2em;
}

.admin h3 {
	margin-top: 0;
}

/*
.contentsBrowseGroup h3 {
	clear: both;
	margin-top: 20px;
	font-size: 2.0em;
	color: #f81;
}
*/

div.headerlink {
  padding: 1em;
}

#loginPanel h3 {
	margin-top: 10px;
}

#loginPanel ul {
  margin-left: 0;
  padding-left: 0;
}

#loginPanel li {
  list-style-type: none;
}

h4 {
	margin-top: 10px;
	font-size: 1.0em;
}

h4.targeted { background: yellow; }

h4.compapp-ref {
	padding: 10px;
	font-size: 1.2em;
	color: #777;
	background: #ded5b3;
}

h4 a:link, h4 a:visited {
	color: #087;
	border-color: #087;
}

h4 a:hover {
	color: #f81;
}

h4.first, .contentsBrowseGroup h4.first {
	margin-top: 4px;
}

.contentsBrowseGroup h4 {
	margin-top: 12px;
	margin-bottom: 4px;
	font-size: 1.2em;
}

h6 {
	margin-top: 2px;
	font-size: 1.0em;
	font-weight: normal;
}

h6 a {
	color: #054;
	border-bottom-color: #054;
}

h6 a:hover {
	background: #054;
}

#tags h6 {
	float: left;
	margin: 0 4px 0 0;
	font-weight: bold;
}

address {
	float: left;
	margin: 10px 0 0 16px;
	width: 40%;
	text-align: left;
	font-style: normal;
	line-height: 1.3em;
}



ul.dataProperties li em {
	font-size: 0.9em;
	font-style: normal;
}

ul.dataProperties li em a:link {
	color: #5ca2ba;
}

.propsCategory h2 {
	float:none;
	display:inline;
	font-size:1.8em;
	font-weight:500;
	color:black;
	background-color:#E4E4C8;
	padding-left:0.2em;
	padding-top:0.2em;
	padding-bottom:0.1em;
}

