/* $This file is distributed under the terms of the license in /doc/license.txt$ */

@charset "UTF-8";
/* CSS Document */

/* VISUAL GRAPH FOAF:PERSON------>  */
#intro-menupage{
    clear: both;
    width: 100%;
    margin: 1em auto;
/*    padding-top: 30px;  nac26: not sure we need all this space up top*/
/*    margin-bottom: 30px;*/
}
#intro-menupage  h3{
    padding: 0 25px 15px 0;
    padding-bottom: 20px;
}
#content-foaf-person{
    float: left;
    width: 64%;
    margin-bottom: 30px;
}
#content-foaf-person h4{
    padding: 20px 25px 12px 0;
}
ul#foaf-person-childClasses{
    float: left;
    width: 265px;
    margin-left: 45px;
}
ul#foaf-person-childClasses li{
    display: block;
    height: 35px;
    line-height: 35px;
}
ul#foaf-person-childClasses li:last-child{    
    border-bottom: 0; 
}
ul#foaf-person-childClasses a{
    display: block;
    padding-left: 15px;
    width: 265px;
    height: 35px;
}
#foaf-person-graph{
    float: right;
    width: 270px;
    height: 270px;
}
/* VISUAL GRAPH CLASS:GENERIC (ORGANIZATION, RESEARCH, EVENT) ------>  */
#content-generic-class{
    float: left;
    width: 90%;
    margin-bottom: 30px;
}
#content-generic-class h3{
    padding: 0 25px 15px 0;
}
#content-generic-class h4{
    padding: 20px 25px 12px 0;
}
ul#vgraph-childClasses{
    float: left;
    width: 265px;
    margin-left: 35px;
}
ul#vgraph-childClasses li{
    display: block;
    height: 35px;
    line-height: 35px;
}
ul#vgraph-childClasses li:last-child{    
    border-bottom: 0;
}
ul#vgraph-childClasses a{
    display: block;
    padding-left: 15px;
    width: 265px;
    height: 35px;
}
#generic-class-graph{
    float: right;
    width: 500px;
    height: 283px;
    padding-right: 20px;
}
/* FIND BY ------>  */
#find-by{
    width: 275px;
    float: right;
    margin-top: 20px;
}
#find-by h3{
    padding: 0 25px 12px 12px;
    border-bottom: 0;
}
ul#find-filters{
    float: left;
    width: 265px;
}
ul#find-filters li{
    display: block;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
}
ul#find-filters li:last-child{ 
    border-bottom: 0;
}
ul#find-filters a{
    display: block;
    padding-left: 15px;
    width: 265px;
    height: 35px;
}
/* NETWORK STATS ------>  */
#network-stats{
    clear: both;
    width: 90%;
    margin: 0 auto;
    height: 67px;
    margin-bottom: 30px;
}
#network-stats h3{
    float: left;
    width: 150px;
    padding: 20px 12px 10px 12px;
}
#network-stats p{
    padding: 15px 15px 15px 175px;
    font-size: .875em;
    line-height: 1.5em;
    color: #5e6363;
}
/* RESEARCHERS ------>  */
#researchers{
    clear: both;
    width: 90%;
    height: 229px;
    margin: 0 auto;
    margin-top: 30px;
}
#researchers h3{
    float: left;
    width: 150px;
    padding: 20px 12px 10px 12px;
    font-size: 1.25em;
    color: #2485ae;
    font-weight: normal;
    background: url(../images/arrow.gif) 140px 27px no-repeat;
}
#researchers p{
    padding: 17px 15px 15px 175px;
    line-height: 1.5em;
}
#researchers-slider{
    clear: both;
    margin: 0 auto;
    width: 887px;
    height: 115px;
}
#alpha-display{
    width: 100px;
    height: 115px;
    line-height: 115px;
    float: left;
    margin-right: 10px;
}
#profile-photo-display{
    width: 60%;
    height: 115px;
    float: left;
}
#profile-photo-display ul{    
    display: block;
}
#profile-photo-display li{
    display: block;
    width: 90px;
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}
#nav-display{
    width: 100px;
    height: 70px;
    margin-top: 30px;
    margin-right: 20px;
    float: right;
}
#nav-display p{
    float: left;
    padding: 0;
    padding-top: 7px;
    width: 30px;
}
#nav-display img{
    display: block;
    float: right;
    padding-left: 15px;
}
/* BROWSE BY ------>  */
#browse-by{
    clear: both;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}
#browse-by h2{
    width: 120px;
    height: 44px;
    line-height: 44px;
    padding-left: 15px;
    margin-bottom: 27px;
}
/* BROWSE CLASSES ------>  */
ul#browse-childClasses{
    float: left;
    width: 255px;
    margin-left: 15px;
    margin-bottom: 20px;
}
ul#browse-childClasses li{
    display: block;
    width: 264px;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
ul#browse-childClasses li:last-child{    
    border-bottom: 0;
}
ul#browse-childClasses a{
    display: block;
    padding-left: 20px;
    width: 264px;
    height: 35px;
}
/* ALPHA BROWSE------>  */
ul#alpha-browse-childClass{
    float: left;
    width: 620px;
    padding-left: 10px;
}
ul#alpha-browse-childClass li{
    float: left;
    margin-right: 4px;
    padding-top: 8px;
}
ul#alpha-browse-childClass li:last-child{    
    border-bottom: 0;
}
ul#alpha-browse-childClass a{
    display: block;
    height: 35px;
    margin-left: 0;
    padding-left: 8px;
    width: 10px;
}
/* BROWSE INDIVIDUALS------>  */
#individuals-in-childClass{
    float: right;
    width: 45%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-right: 17px;
}
#individuals-in-childClass h3{
    padding: 10px 0 10px 30px;
}
#individuals-in-childClass ul{
    list-style: none;
}
#individuals-in-childClass li.individual-foaf-person{
    width: 39%;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    clear: left;
    min-height: 100px;
}
#individuals-in-childClass li.individual-foaf-person img{
    float: left;
}
#individuals-in-childClass  li.individual-foaf-person h1{
    font-weight: bold;
    padding: 30px 0 10px 110px;
    line-height: 1.2em;
}
#individuals-in-childClass  p{
    padding-left: 110px;
    line-height: 1.2em;
}
#individuals-in-childClass span.org{
    display: block;
}
#individuals-in-childClass li.individual{
    width: 440px;
    margin-left: 30px;
    margin-right: 30px;
}
#individuals-in-childClass li.individual h1{
    margin: 0;
    padding: 0;
    color: #5e6363;
    line-height: 1.2em;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1em;
    font-weight: normal;
}