/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* VISUAL GRAPH----->  */
#menupage-intro {
    clear: both;
    width: 100%;
    margin: 1em auto;
}
#menupage-intro h2 {
    padding: 0 25px 20px 0;
}
#menupage-content {
    float: left;
    width: 90%;
    margin-bottom: 30px;
}
#menupage-content.people {
    width: 73%;
}
#menupage-content h3 {
    padding: 0 25px 15px 0;
}
#menupage-content h4 {
    padding: 20px 25px 12px 0;
}
ul#vgraph-classes {
    float: left;
    width: 265px;
    margin-left: 35px;
}
ul#vgraph-classes li {
    display: block;
    height: 35px;
    line-height: 35px;
}
ul#vgraph-classes li:last-child {
    border-bottom: 0;
}
ul#vgraph-classes a {
    display: block;
    padding-left: 15px;
    width: 265px;
    height: 35px;
}
#menupage-graph {
    float: right;
    width: 500px;
    height: 283px;
    padding-right: 20px;
    border: 1px dotted #ccc;
}
#menupage-graph.people {
    width: 300px;
    height: 360px;
    padding-right: 0;
    border: none;
    margin-top: -40px;
}
/* FIND BY ------>  */
#find-by {
    float: right;
    margin: 0 1.1em 1.5em 0;
    padding: 8px 8px 3px 5px;
}
#find-by h3 {
    padding: 0 .2em .2em .8em;
    border-bottom: 0;
    float: left;
}
ul#find-filters {
    float: right;
}
ul#find-filters li {
    float: left;
    padding-left: 3px;
    padding-right: 15px;
    border-right: 1px solid #E4EAE9;
}
ul#find-filters li:last-child { 
    border-bottom: 0;
    border-right: none;
}
ul#find-filters a {
    display: block;
    padding-left: 13px;
}
/* RESEARCHERS ------>  */
#researchers {
    clear: both;
    width: 90%;
    height: 229px;
    margin: 0 auto;
    margin-top: 30px;
}
#researchers h3 {
    float: left;
    width: 150px;
    padding: 20px 12px 10px 12px;
    font-size: 1.25em;
    color: #2485ae;
    font-weight: normal;
    background: url(../images/arrow.gif) 140px 27px no-repeat;
}
#researchers p {
    padding: 17px 15px 15px 175px;
    line-height: 1.5em;
}
#researchers-slider {
    clear: both;
    margin: 0 auto;
    width: 887px;
    height: 115px;
}
#alpha-display {
    width: 100px;
    height: 115px;
    line-height: 115px;
    float: left;
    margin-right: 10px;
}
#profile-photo-display {
    width: 60%;
    height: 115px;
    float: left;
}
#profile-photo-display ul {    
    display: block;
}
#profile-photo-display li {
    display: block;
    width: 90px;
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}
#nav-display {
    width: 100px;
    height: 70px;
    margin-top: 30px;
    margin-right: 20px;
    float: right;
}
#nav-display p {
    float: left;
    padding: 0;
    padding-top: 7px;
    width: 30px;
}
#nav-display img {
    display: block;
    float: right;
    padding-left: 15px;
}
/* BROWSE BY ------>  */
#browse-by {
    clear: both;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
#browse-by h2 {
    width: 120px;
    height: 44px;
    line-height: 44px;
    padding-left: 15px;
    margin-bottom: 27px;
}
/* BROWSE CLASSES ------>  */
ul#browse-classes {
    float: left;
    width: 255px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}
ul#browse-classes li {
    display: block;
    width: 235px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul#browse-classes li:last-child {    
    border-bottom: 0;
}
ul#browse-classes a {
    display: block;
    padding-left: 20px;
    width: 225px;
}
/* ALPHA BROWSE------>  */
ul#alpha-browse-individuals {
    float: left;
    width: 619px;
    list-style: none;
}
ul#alpha-browse-individuals li {
    float: left;
    margin-right: 4px;
    padding-top: 0px;
}
ul#alpha-browse-individuals li:last-child {
    border-bottom: 0;
}
ul#alpha-browse-individuals a {
    display: block;
    height: 35px;
    margin-left: 0;
    padding-left: 8px;
    width: 10px;
}
nav#alpha-browse-container {
    width: 619px;
    float: left;
    padding-left: 10px;
    margin-left: 1px;
}
/* BROWSE INDIVIDUALS------>  */
#individuals-in-class {
    float: right;
    width: 68%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-right: 17px;
    min-height: 170px;
}
h3.selected-class {
    padding: .8em 0 0 0;
}
#individuals-in-class ul {
    list-style: none;
}
li.individual {
    width: 90%;
    padding: 20px 0;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
}
li.individual img {
    float: left;
    margin-right: 20px;
}
li.individual h1 {
    padding: 0;
    line-height: 1.2em;
    font-weight: bold;
}
li.individual h1.thumb {
    padding-top: 30px;
}
#individuals-in-class span.title {
    display: block;
    margin: .8em 0 0 0;
    font-size: .8em;
    line-height: 1;
}
#individuals-in-class span.org {
    display: block;
}
ul.mostSpecificTypes li {
    float: left;
    display: block;
    padding: 0 10px;
    border-right: 1px solid #c9c8c8;
}
ul.mostSpecificTypes li:first-child {
    padding-left: 0;
}
ul.mostSpecificTypes li:last-child {
    border-right: none
}
p.no-individuals {
    margin: 1em 2em;
}
.pagination {
    margin: .3em 0 0 1.4em;
}
.pagination h3 {
    display: inline;
    margin: 0 .3em 0 0;
    padding: 0;
    font-size: 1.1em;
    color: #666;
}
.pagination ul {
    display: inline;
}
.pagination li {
    display: inline-block;
    margin: 0;
    border: none;
}
.pagination li.selected {
    padding: 0 0.4em;
    line-height: 1.5;
    color: #333;
    background: #ddd;
}
.pagination li a {
    padding: 0 0.4em;
    border: none;
}
.pagination li a:hover {
    color: #fff;
    background: #333;
    border: none;
}
.pagination .round {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

