/* $This file is distributed under the terms of the license in /doc/license.txt$ */

.pageContent {
    "background-color":"",
    "padding-left":"",
    "padding-top":"",
    "border-width":"",
    "border-style":"",
    "border-color":"#ccc"}

.pageContentContainer {
    background-color:#f5f5f5;
    border-color:#ccc;
    border-width:1px;
    border-style:solid;
    margin-bottom:4px;
}

.pageContentTypeLabel {
    padding-left:6px;
}

.pageContentWrapper {
    background-color:#f9f9f9;
    padding-left:6px;
    padding-top:2px;
    border-top-width:1px;
    border-style:solid;
    border-color:#ccc;
}

.pageContentExpand {
    float:right;
    padding-right:5px;
}

.arrow {
	width:13px; 
	height:9px; 
	display:block;
}
.expandArrow {
    background:url(../../images/vitro_plus_sign.gif) right center no-repeat;
    min-height:18px;
}
.collapseArrow {
    background:url(../../images/vitro_minus_sign.gif) right center no-repeat;
    min-height:18px;
}

.deleteButton {
    margin-bottom:5px;
}
section#floatRight {
    margin-top:0px;
    float:right;
    background-color:#fff;
    width:580px;
    margin-right:-4px;
}
select#typeSelect {
    margin-top:0px;
}
section#headerBar {
    background-color:#f5f5f5;
    border-color:#ccc;
    border-width:1px;
    border-style:solid;
    border-bottom-width:0px;
    padding-left:6px;
}
input#moreContent {
    margin-top:8px;
}
section#pageDetails {
    background-color:#fff;
}
p#templatePTag {
    margin-top:8px;
    margin-bottom:2px;
}
p#checkboxPTag {
    margin-top:10px;
    margin-bottom:0px;
}
section.hideMenuSection {
    margin-top:10px;
    display:none;
}
section.showMenuSection {
    margin-top:10px;
}

