/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* Styles for Freemarker template variable dump */

.div.dump {
    margin-top: 1em;
    border-top: 2px solid #ccc; 
    padding-top: .75em;
}

.dump ul li.variable {
    margin-bottom: .5em;
    border-bottom: 1px solid #ccc; 
    padding-top: .75em;
    padding-bottom: .75em;
}

.dump ul ul {
    margin-left: 1.5em;
}

.dump ul li {
    list-style: none;
}

.dump ul li p {
    margin-bottom: .25em;  
}

.dump ul li.item {
    margin-bottom: 1.25em;
}

.dump ul li.item .value { 
    margin-left: 1.5em;
}