/* $This file is distributed under the terms of the license in /doc/license.txt$ */

label {
    display: block; 
    margin-top: .5em; 
}
label.inline,
div.sparqlform label {
    display: inline;
    font-weight: normal;
}
input.block {
    display: block;
}
textarea {
    margin-bottom: 1.5em;
}
div.sparqlform div.options, div.sparqlform input.submit {
    margin-top: 1.5em;
}
form {
    padding-bottom: 20px;
}
.form p {
    margin-bottom: .5em;
}
form textarea {
    width: 60%;
}
form a:link.cancel, form a:visited.cancel {
    color: #f70;
    border-color: #f70;
}
form a:hover.cancel, form a:active.cancel {
    color: #fff;
    background: #f70;
}
form select option {
    padding-right: 5px;
}
form dl {
    margin-bottom: 20px;
}
form dl dt, form dl dd {
    padding-top: 15px;
}
.validationError {
  font-weight: bold;
  color: #cc0000;
}
.inlineForm input, 
.inlineForm label {
  display: inline;
}
p.submit {
  clear: left;
  margin-top: 2em;
}
.buttonForm {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0.5em;
    padding-bottom: 0.5em;
    color: #444444;
    line-height: 16px;
    min-height: 100px;
    display: inline;
} 
.editingForm {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 1em;
    color: #444444;
    line-height: 16px;
    background-color: #fff
    min-height: 100px;
    font-size: 0.9em;
}
.editingForm table {
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    border-collapse: separate;
}
.editingForm td {
    padding: 2px 2px 2px 2px;
    font-size: 1em;
}
.editingForm table tr.row td:nth-child(2) a {
    font-size: 1.2em;
    font-weight: bold;
    word-wrap: break-word;
}
td.verticalfieldlabel {
    font-size: 11px;
    line-height : 13px;
}
.editingForm .entryFormHead {
    text-align: center;
    padding: 0.2em;
    background-color: #f8f8c8;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}
.editingForm .entryFormHead h2 {
    margin: 0.1em;
    padding : 0em;
    font-size: 1.4em;
    color: #000;
}
.editingForm .entryFormHead h3 {
    margin: 0.1em;
    padding: 0;
    font-size: 1.2em;
    font-weight: 600; /* cals theme was: 650 */
    color: #f00;
}
.editingForm .entryFormHead .entryFormHeadInstructions {
    margin: 0em;
    padding: 0em;
    font-size: 0.8em;
}
.editingForm .form-item {
    background-color: #FAFAD2;
    border-color: #2E440C;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-width: 1px;
}
.editingForm .form-button {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-top: 2px;
    width: auto;
    overflow: visible;
}
tr.form-row-even {
    background-color: #e9f0ff;
    border-color: #eec; 
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-width: 1px;
    margin-top: 2px;
}
tr.form-row-odd {
    background-color: #e9f9ff;
    border-color: #eec; 
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-width: 1px;
    margin-top: 2px;
}
.form-editingRow {
    background-color: #ff9;
    border-color: #eec; 
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-width: 1px;
    margin-top: 2px;
}
table.form-background td {
    padding-left: 1em;
    padding-right: 1em;
}
table.form-background td form {
    padding : 0.2em;
}
.form-background {
    background-color: #C8D8F8;
    border-color: #CCCCFF;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-width: 1px;
    margin-top: 2px;
}
.form-background.vclass {
    background-color: #E05550;
}
.form-background.property {
    background-color: #A8F0A0;
}
.form-table-head {
    background-color: #ccf;
    border-color: #eec; 
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-width: 1px;
    margin-top: 2px;
}
.navlinkblock {
    color: #000;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 4px;
}
td.editformcell {
    font-size: 9px;
}
td.editformcell select {
    margin: 0;
}
.header,
.database_upperleftcorner,
.database_header {
    background-color: #B0C4DE;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    text-align: left;
}
.database_upperleftcenter,
.rownumheader {
    background-color: #B0C4DE;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    text-align: center;
}
.headercenter {
    background-color: #9370DB;
    color: #000;
    font-family:  Arial, Helvetica, sans-serif;
    font-size:  10pt;
    font-style: normal;
    text-align: center;
}
.postheader,
.database_postheader {
    background-color: #E6E6FA;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    text-align: left;
}
.postheadercenter {
    background-color: #E6E6FA;
    color: #4682B4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    text-align: center;
}
.postheaderright {
    background-color: #E6E6FA;
    color: #4682B4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    text-align: right;
}
.verticalfieldlabel {
    background-color: #DEDEDF;
    color: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-style: normal;
    text-align: right;
    vertical-align: top;
}
.row, .rowvert {
    background-color: #F0FFFF;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    text-align: left;
}
.rowalternate {
    background-color: #F8F8FF;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    text-align: left;
}
.rowbold {
    background-color: #FFFAFA;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}
.rownum {
    background-color: #87CEFA;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    text-align: center;
}
span.entityRelationsSpan {
    padding-top: 4px;
    margin: 0 0 0 1em;
    font-weight: bold;
    font-size: 90%;
    color: #2E440C;
    text-align: center;
}
div.sparqlform .parenthetical {
    font-style: italic;
    margin-top: 0;
    margin-bottom: .25em;
}
#objectVar {
    max-width: 700px;
}
/* custom list view for mailingAddress */
div.adr {
    display: inline-block;
}
/* Temporary hack to remove stuff from forms in vivoweb only */
.hideFromVivoWeb {
    display: none;
    height: 0;
}
.notice{ 
    padding: .8em; 
    margin-bottom: 1em; 
    border: 1px solid #ddd;
    display: block;
    background: #FFF6BF; 
    color: #7F7034;
}
.note {
    font-size: .8em;
    line-height: 1.3em;
    color: #7f8993;
}
