/* $This file is distributed under the terms of the license in LICENSE$ */


/* ------------------------------------------------->  */
/* TOOLTIP  ---------------------------------------->  */
/* ------------------------------------------------->  */
.vitroTooltip.tooltip  {
    opacity: 1;
    position: absolute;
}

.vitroTooltip.tooltip > .tooltip-inner {
    opacity: 1;
    max-width: 400px;

    background-color: #F5F5F5;
    border: 1px solid #F1D031;
    text-align: left;
    border-radius: 0;

    color: #333;
    max-width: initial;
    padding: 0.25rem;
    position: relative;
    z-index: 100;
}

.vitroTooltip > .tooltip-inner .close-footer {
    display: flex;
}
  
.vitroTooltip > .tooltip-inner .close-footer a.close {
    margin-left: auto;
}

.vitroTooltip > .tooltip-inner h5 {
    padding-bottom: 0;
}

.vitroTooltip > .tooltip-arrow::before {
    --bs-tooltip-bg: #F1D031;
}

.tooltip > .tooltip-arrow {
  position: absolute;
  z-index: 50;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background: #F1D031;
}

.tooltip:not(.vitroTooltip) > .tooltip-inner, .tooltip:not(.vitroTooltip) > .tooltip-inner * {
    color: unset;
}

div.vitroTooltip.downloadTip {
    max-width: 600px;
    --bs-tooltip-max-width: 600px;
}

div.tooltip.vitroTooltip.vitroTooltip-yellow {
    max-width: 500px;
    --bs-tooltip-max-width: 500px;
}

.tooltip.vitroTooltip-yellow > .tooltip-inner {
    background-color: #ffffc0;
    font-size: 0.8em;
    padding: 20px 22px;
    text-align: left;
    line-height: 12px;
} 
