/webapp/.build/
/.classpath
/.project
/.settings
/bin/
/webapp/config/deploy.properties
/webapp/config/build.properties
/webapp/config/runtime.properties
/webapp/config/debug.log4j.properties
.build
utilities/solrtester/.work
utilities/rdbmigration/.work
utilities/sdb_to_tdb/.work

**/.idea
**/*.iml
**/target

**/overlays

# Eclipse artifacts
**/.settings
**/.classpath
**/.project
