/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/***********************
 * General formatting
 ***********************/

.hidden { display: none;}

body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-size: 11px;
	color: #484848; /*666;*/
	background: #fff;
}

.wrapper {
	width: 100%;
	text-align: center;
}

.inner {
	width: 720px;
	margin: 0 auto;
	text-align: left;
}

/****************************************************************/

//#hm a, #hm a:link, #hm a:visited {
//	color: #85A3C2;
//	text-decoration: none;
//	font-weight: bold;
//}

//#hm a:hover {
//	color: #596C80;
//	text-decoration: underline;
//	font-weight: bold;
//}

//#hm a:active {
//  color: #85A3C2;
//}

h2 {	
	margin: 0;
	font-size: 14pt;
	line-height: 20px;
	padding: 20px 0px 20px 0px;
	font-weight: normal;
}

#confirm {
  margin: 0;
  font-size: 14pt;
  line-height: 20px;
  padding: 12px 0px 12px 0px;
  font-weight: normal;
  color: black;
}

#confirmdata {
  color: black;
  font-size: 111%;
  margin-left: 4em;
  line-height: 1em;
  padding: 0em;
}

#confirmdata td {
  padding-left: 1em;
//  font-size: 90%;
  line-height: 120%;
}


#error {
  margin: 0;
  font-size: 111%;
  line-height: 1.2em;
  padding-bottom: 0.5em;
  font-weight: normal;
  color: #AB1A2A;
}

#errordata {
  margin: 0em;
//  font-size: 90%;
  line-height: 1em;
  padding-bottom: 2em;
  font-weight: normal;
  color: #AB1A2A;
}


td
{	
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-size: 11px;
	line-height: 20px;
}
	

.rowBkgrd { background: #F4F4F4; } /* was #eee; */

.tableHeading {
	font-weight: bold;
	white-space: nowrap;
}

.label {
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}
/****************************************************************/



/***********************
 * Header layout
 ***********************/
 
/* HEADER 1 */
#header1wrap {
	border-bottom: 4px solid #bbb; /*#DCE2E5;*/
	height: 23px;
	background: #AB1A2A;
}

#logo {
	float: left;
	width: 211px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	
	/* ie5 box model hack */
	width: 213px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	
	/* unhack */
	width: 211px;
}

/* be nice to Opera */
html>#logo {
	width: 211px;
}

#status {
	float: left;
	padding-left: 10px;
	width: 497px;
	height: 23px;
	color: #ddd;
	font-size: .9em;
	line-height: 23px;
}

/* HEADER 2 */
#header2wrap {
	position: relative;
}

#header2left {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	background: #fff;
}

#header2right {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	margin-top: 36px;
	padding: 10px 0; 
	height: 17px;
	line-height: 17px;
	background: #dfdfdf; /*#f4f4f4;*/
	border-top: 1px solid #bbb; /*#ddd;*/
}

#header2 {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -360px;
	margin-right: 0;
	width: 720px;
        /* SSK IE 6 Hack */
        * html{
        width:700px;
        }

	background: #fff;
}
/*SSK be nice to Opera */
html>#manage { width: 487px; }


#title {
	float: left;
	width: 211px;
	height: 74px;
	border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
}

#manage {
	float: left;
	margin-top: 36px;
	border-top: 1px solid #bbb; /*#ddd;*/
	padding: 10px; 
	width: 485px;
	height: 17px;
	background: #dfdfdf; /*#f4f4f4;*/
	line-height: 17px;
	
	/* ie5 box model hack */
	width: 507px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	
	/* unhack */
	width: 485px;
}

/* be nice to Opera */
html>#manage { width: 487px; }

#manage a, #manage a:link, #manage a:visited {
	color: #85A3C2;
	text-decoration: none;
	font-weight: bold;
}

#manage a:hover {
	color: #596C80;
	text-decoration: underline;
	font-weight: bold;
}

#manage a:active {color: #85A3C2;}

/* HEADER 3 */
#header3wrap {
	margin-top: 74px;
	background: #dfdfdf; /*#f4f4f4;*/
	border-top: 1px solid #bbb; /*#ddd;*/
	border-bottom: 1px solid #bbb /*#ddd;*/
}

#header3 {
	padding: 8px 0 8px 10px;
	width: 750px;
	
	/* ie5 box model hack */
	width: 760px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	
	/* unhack */
	width: 750px;
}

/* be nice to Opera */
html>#header3 {
	width: 750px;
}

/***********************
 * Contents
 ***********************/
#content {
	margin-top: 20px;
	padding-left: 10px;
	width: 750px;
	
	/* ie5 box model hack */
	width: 760px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	
	/* unhack */
	width: 760px;
}

/* be nice to Opera */
html>#content {
	width: 750px;
}

#footer {
	margin: 20px 0;
	padding: 15px 0;
	border-top: 1px solid #ddd;
}

#footer .inner {
	padding-left: 10px;
	width: 750px;
	
	/* ie5 box model hack */
	width: 760px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	
	/* unhack */
	width: 750px;
}

/* be nice to Opera */
html>#footer .inner {
	width: 750px;
}
 
/***********************
 * Text
 ***********************/
h1 {
	margin-top: 12px;
	margin-left: 10px;
	margin-bottom: 0;
	padding: 0;
	font-size: 24px;
	font-weight: normal;
	color: #a0a0a0;
}

ul {
  margin-top: 0px;
}

.sep {
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	color: #ccc;
	padding: 0 2px;
}

.headerlabel {
	padding-right: 2px;
}

/* LINKS */
a, a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
	color: #85A3C2;
}

a:hover {
	color: #596C80;
	text-decoration: underline;
}

a:active {
	color: #85A3C2;
}

/***********************
 * Forms
 ***********************/
 
form {
	margin: 0;
	padding: 0;
}

form#existingguest {
	display: inline;
}

.selectnull {
  font-style: italic;
  color: grey;
}

.textinput, .dropdown {
	border: 1px solid #999;
	color: #333;
	background: #fff;
	font-size: 11px;
	}
	
#guestid {
	width: 150px;
}

#guesttask {
	margin: 0 5px;
	width: 150px;
}

.inputsubmit
{
	color: #666;
	font-size: 12px;
	background: #fc0;
	font-weight: bold;
}

/* HEADER FORM */
#existingguest .textinput, #existingguest .dropdown {
	background: #DFE7EB;
	border: 1px solid #85A3C2;
	height: 15px;
}

#existingguest a, #existingguest a:link, #existingguest a:visited {
	color: #85A3C2;
	text-decoration: none;
	font-weight: bold;
}

#existingguest a:active {color: #85A3C2;}

#existingguest a:hover {
	color: #596C80;
	text-decoration: underline;
	font-weight: bold;
}

.inputsubmitHead {
	padding: 0 5px;
	color: #666;
	font-size: 11px;
	background: #DFE7EB;
	border: 1px solid #85A3C2;
}
