/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* Styles for Freemarker template variable dump */

.dump {
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    padding: 1em 0;
    margin: 1em 0;
}

.dump li {
    list-style-type: none;
}

.dump.directive h6 {
    margin-top: 1em;
}

.dump.datamodel .var, .dump.datamodel .directive {
    border-bottom: 1px solid #ccc; 
    padding: 1em 0;
    margin: 1em 0;   
}

.dump .var p {
    margin-bottom: .3em;
}
