/* $This file is distributed under the terms of the license in LICENSE$ */

/* styles for password reset */

label[for="email"] {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

input#email {
    font-size: 16px;
    height: 1.5em;
    width: 20em;
    margin-bottom: 2em;
}

.submit button.green {
    font-size: 16px;
}

.paragraph-text {
    font-size: 16px;
}

.notification-text {
    font-size: 24px;
}

#defaultReal {
     display: block;
     margin-top: 1em;
     margin-left: 0;
     width: 246px;
}

#forgotPasswordForm .errorMessage {
    color: red;
    background: #efefef;
    padding: 1em;
}
