/* $This file is distributed under the terms of the license in /doc/license.txt$ */

@charset "UTF-8";
/* CSS Document */

/* ADMIN PANEL------>  */
div.admin{
  color: #fff;
  background: #aaa;
  padding: 6px;
  height: 1%; /* IE likes this */
  width: 98%; /* and this */
}
div.panelContents{
  color: #777;
  background: #efebe6;
/*display: none;*/
  padding: 12px;
}
div.top{
  margin: 0;
  padding: 0 24px 0 0;
  background: #efebe6;
}
div.bottom{
  margin: 0 -12px;
  position: relative;
  bottom: -16px;
  padding: 6px 12px 8px 12px;
}
.admin h3{
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: #ddd;
  background: #aaa;
  line-height: 2em;
  margin: 0 !important; /* fix for IE6 */
  margin-right: -24px;
  padding: 0 12px;
  width: 100% !important; /* fix for IE6 */
  width: auto;
}
.admin p{ 
    margin-bottom: .25em; 
}
.admin a:link,
.admin a:visited{ 
    color: #fff; 
}
.panelContents a:link,
.panelContents a:visited{ 
    color: #777; 
}
.admin a:hover,
.admin a:active { 
    color: #000; 
}
#loginPanel ul { 
    margin: 0; 
}
#loginPanel li {
  list-style-type: none;
  margin-bottom: .5em;
}
/* <------ INDIVIDUAL INTRO FOR ANY CLASS*/
#individual-intro{
    float: left;
    width: 75%;
    margin-top: 35px;
    margin-bottom: 45px;
}
#individual-intro h1{
    padding-bottom: 24px;  
}
#individual-intro span.preferred-title{
    padding-left: 10px;
    margin-left: 10px;
}
/* <------ INDIVIDUAL INTRO FOR PERSON*/
#individual-intro-person{
    float: left;
    width: 75%;
    margin-top: 35px;
    margin-bottom: 30px;
}
/* <------ INDIVIDUAL INTRO LEFT CONTENT */
#left-side{
    width: 166px;
    float: left;
    padding-left: 27px;
    padding-right: 34px;
}
#left-side img.individual-photo2{
    width: 160px;
    height: 160px;
    float: left;
}
ul#individual-tools-people{
    margin-top: 5px;
    height: 27px;
    padding-bottom: 20px;
    list-style-type: none;
    clear: both;
}
ul#individual-tools-people li{
    position: relative;
    display: block;
    padding-right: 14px;
    float: left;
}
ul#individual-tools{
    margin-top: -18px; /*not good adding negative margin*/
    height: 38px;
    overflow: hidden;
    float: left;
    width: 150px;
    color: #8AA149
}
ul#individual-tools li{
    position: relative;
    display: block;
    padding-right: 14px;
    float: left;
    line-height: 27px;
}
.picto-font{
    font-family: 'Pictos';
}
.picto-uri{
    font-size: 1.68em;
}
.picto-pdf{
    font-size: 1.68em;
}
.picto-share{
    font-size: 1.68em;
}
.icon-rdf{
    position: absolute;
    font-size: 1.125em;
    top: 13px;
}
.picto-email{
    font-size: 1.375em;
    padding-right: 5px;
}
ul#individual-email{
    clear: both;
    list-style-type: circle;
    margin-top: 20px;
}
ul#individual-email a.email{
    font-size: .875em;
    display: block;
}
ul#individual-phone{
    clear: both;
    list-style-type: circle;
    margin-top: 20px;
}
ul#individual-phone a.tel{
    font-size: .875em;
    display: block;
}
.icon-phone{
    vertical-align: middle;
    padding-right: 5px;
}
ul#individual-urls{
    list-style-type: circle;
    margin-left: 10px;
    float: left;
    margin-bottom: 30px;
}
ul#individual-urls li{
    font-size: .875em;
    line-height: 1.2em;
}
ul#individual-urls li a{
    color: #2485ae;
}
ul#individual-urls-people{
    clear: both;
    margin-top: 20px;
    list-style: none;
    list-style-type: circle;
    padding-left: 24px;
}
ul#individual-urls-people li{
    font-size: .875em;
    line-height: 1.2em;
}
/* <------ INDIVIDUAL RIGHT CONTENT */
#individual-info{
    width: 65%;
    float: left;
    padding: 10px 0 0 10px;
}
#individual-info h1.fn{
    padding-bottom: 12px;
}
h1.fn .preferred-title {
    padding-left: 10px;
    margin-left: 10px;
}
#individual-info h2{
    padding-bottom: 10px;
}
ul#individual-positions{
    padding-bottom: 24px;
    list-style: none;
    list-style-type: circle;
    padding-left: 20px;
}
ul#individual-positions li{
    line-height: 1em;
}
.individual-overview{
    font-size: 1em;
    padding-bottom: 0;
    line-height: 1.3em;
}
ul#individual-areas{
    padding-bottom: 24px;
}
ul#individual-areas li{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
ul#individual-areas li:first-child{
    padding-left: 0;
}
ul#individual-areas li{
    float:left;
    border-right: 1px solid #5e6363;
    padding-right: 10px;
    padding-left: 10px;
}
/* <------ INDIVIDUAL VISUALIZATION */
#publications-visualization{
    margin-top: 35px;
    float: right;
    width: 226px;
}
/* <------ SPARKLINES  */
#sparklines-publications{
    width: 220px;
    padding: 0 20px 45px 20px;
}
#sparklines-publications h3{
    padding-top: 10px;
    margin-bottom: 10px;
}
.publication-year-range{
    display: block;
    padding-top: 5px;
}
/* <------ TEMPORAL GRAPH  */
#temporal-graph{
    width: 220px;
    padding: 0 20px 45px 20px;
}
#temporal-graph h3 img{
    padding-right: 10px;
    vertical-align: text-top;
}
/* <------ COAUTHORS */
#co-authors{
    padding: 0 20px 30px 20px;
}
img.co-author{
    margin-right: 5px;
    margin-bottom: 5px;
}
#co-authors h3{
    margin-bottom: 10px;
}
#co-authors ul li{
    display: block;
    float: left;
}
p.view-all-coauthors{
    clear: both;
    width:  200px;
    text-align: left;
}
/* PROPERTY GROUP MENU------>  */
#property-group-menus{
    clear: both;
    width: 95%;;
    height: 46px;
    border: 1px solid #dfebe5;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
#property-group-menus ul{
    display: block;
    color: #5e6363;
}
#property-group-menus li{
    float: left;
    line-height: 46px;
    padding-right: 15px;
    padding-left: 15px;
}
 #property-group-menus li:fisrt-child{
     padding-left: 0;
}
/* PROPERTY GROUP------>  */
.property-group{
    position: relative;
    clear: both;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #dfebe5;
}
.scroll-up{
   position: absolute; 
   width: 21px;
   height: 30px;
   top: 0;
   right: -21px;
}
section.property-group h2{
    padding: 20px 25px 12px 35px;
}
article.property{
    width: 93%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #dfe6e5;
}
article.property h3{
    border-bottom: 1px solid #dfe6e5;
    padding: 10px 20px 10px 20px;
}
article.property ul.property-list li.subclass h3 {
    border-bottom: none;
    padding: 10px 10px 10px 20px;
}
article.property .data-property-statement{
    padding: 10px 20px 10px 20px;
    line-height: 1.2em;
    margin-bottom: 0;
}
article.property ul.property-list{
    background: #fff;
    padding-bottom: 20px;
}
article.property ul.property-list li{
    line-height: 1.2em;
    padding-bottom: 10px;
    padding: 10px 20px 10px 20px;
}
article.property ul.subclass-property-list{
    background: #fff;
    border-top: 1px solid #DFE6E5;
    padding-top: 10px;
    padding-bottom: 10px;   
}
article.property ul.subclass-property-list li{
    line-height: 1.2em;
    padding-bottom: 10px;
    padding: 10px 20px 10px 40px;
}
/* MISCELLANEOUS------>  */
.listDateTime {
    padding: 0.2em 0.4em;
    font-size: 0.8em;
    background: #f4f4f4;
}