/* $This file is distributed under the terms of the license in /doc/license.txt$ */

.resultRow {
float:none;
clear:both;
}

.resultCell {
float:left;
border:1px solid #000000;
}

.resultHeading {
font-weight:bold;
}