/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* ------------------------------------------------->  */
/* ACCOUNT PAGE ------------------------------------>  */
/* ------------------------------------------------->  */
.account-feedback p {
    line-height: 1.5em;
    border: 1px dotted #E2C822;
    background-color: #FFF9D7;
    padding: .5em;  
    margin-bottom: 20px;
}
input#externalAuthChkBox {
    height:18px;
    width:18px;
    margin-top:10px;
    margin-bottom:10px;
}
#filter-roles {
    float: left;
    padding-bottom: 20px;
}
#search-accounts {
    float: right;
    height: 60px;
}
.account-alpha-browse {
    width: 10px; 
    height: 22px;
    float: right; 
    padding-right: 10px; 
}
.sort-asc {
     width: 9px;
     height:10px;
     padding-top: 4px; 
     background: url(../../images/account/sort-asc.gif) 0 4px no-repeat;
     display: block;
}
.sort-desc {
     width: 9px;
     height:10px;
     padding-bottom: 4px; 
     background: url(../../images/account/sort-desc.gif) 0 4px no-repeat;
     display: block;
}
.accounts {
    clear: left;
    height: 60px;
    border-top: 1px dotted #e1e5e7;
    padding-top: 0;
    border-bottom: 1px dotted #e1e5e7;
    padding-bottom: 0;
    width: 100%;
}
section.accounts .delete-account{
    float: left;
    margin-top: 10px;
}
.display-tools {
    float: left;
    font-size: .875em;
}
.accounts-per-page-form {
    display: inline-block;
}
nav.alpha-browse-account {
    width: 20px;
    border: 1px solid green;
    width: 18px;
    height: 12px;
}
nav.alpha-browse-account a {
    margin: 0;
    padding: 0;
}
.delete-all {
    margin-left: 6px;
}
/* ADD ACCOUNTS ------>  */
form.customForm #reset-password {
    margin-top: 20px;
    margin-left: 0;
}
form.customForm p.note {
     padding-bottom: 20px;
     padding-top: 5px;
}
#add-account p.note,
#passwordContainer  {
    margin-top: 20px;
}
#search-feedback {
    clear: both;
}
#search-feedback span,
#filter-roles span {
    font-size: .8em;
}
/* CREATE/RESET PASSWORD ------>  */
#create-password p.note,
#reset-password p.note  {
     margin-top: 0;
}
/* EDIT ACCOUNT ------>  */
#edit-account p.note {
     margin-top: 3px;
}
/* MY ACCOUNT ------>  */
#my-account p.note {
     padding-bottom: 10px;
}
#my-account input#email-address,
#my-account input#new-password,
#search-proxy h4 {
    margin-bottom: 0;
}
section.account-feedback img {
padding-right: 5px;
}

/* ASSOCIATE PROFILE ------>  */
.explanatoryText {
    color:#999;
    font-size:.8em;
    font-style:bold;
    width:280px;
    margin-left:10px;
    line-height:15px; 
    margin-top:-8px !important;
}
#associated,
#associationOptions {
    float:right; 
    display:none;
}
#associated label {
    margin-bottom: 10px;
}
#externalAuthIdInUse {
    color: #f70;
    display: none;
}
#alignExternalAuthId {
    margin-left:8px;
}
#associateProfileBackgroundOne {
    background-color:#fff; 
    padding:7px 0 5px 0;
    margin-left:-8px;
    margin-right:-8px;
    width:100%;
    z-index:10;
    border:none;
    border-right:none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
#associateProfileBackgroundTwo {
    background-color:#f1f2ee;
    padding:7px 94px 33px 0;
    margin-top:-129px; 
    margin-right:-8px;
    z-index:-100;
    border:1px solid #ccc;
    border-left:none;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#associateProfileBackgroundThree {
    background-color:#f1f2ee;
    padding:7px 94px 26px 12px; 
    margin-top:-129px; 
    margin-left:-12px;
    margin-right:-8px; 
    z-index:-100;
    border:1px solid #ccc;
    border-left:none;
    border-bottom:none;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}
#associateProfileBackgroundFour {
    background-color:#f1f2ee;
    padding:0 94px 26px 13px;
    margin-top:-3px;
    margin-left:-12px;
    margin-right:-8px;
    z-index:-100; 
    border:1px solid #ccc;
    border-top:none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#externalAuthId {
    width: 12em;
}

/* MISCELLANEOUS ------>  */
form.customForm input[name="firstName"],
form.customForm input[name="lastName"],
form.customForm input[name="newPassword"],
form.customForm input[name="confirmPassword"] {
    width: 10em;
}
#passwordContainer p.note {
    margin-top: -10px;
    padding-bottom: 5px;
}
/* PROXY MY ACCOUNT'S PROFILE ------>  */
#edit-myProxy {
    float: right;
    padding: 2em;
    padding-top: 1em;
    background-color: #f7f7f4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 400px;
}
#edit-myProxy h4 {
    padding-top: 0;
}

#edit-myProxy li.proxyInfoElement {
    padding-top: .8em;
    border-bottom: 1px dotted #E0DFDF;
    padding-bottom: 2em;
    padding-left: 0;
    clear: both;
}
#edit-myProxy p.search-status {
    margin-top: -10px;
    font-size: .8em;
    color: #7F8993;
    padding-left: 10px;
    height: 20px;
}
#edit-myProxy p.selected-editors {
    padding-top: 1.2em;
    border-top: 1px solid #E0DFDF;
    padding-left: 0;
}
#edit-myProxy span.class-label {
    color: #7F8993;
}
/* MANAGE PROXY ------>  */

section.proxy-profile h4 {
    padding-left: 20px;
    padding-top: 20px;
}
#add-relation legend{
    display: none;
}
.proxy-profile .acSelector,
#add-relation label {
    margin-left: 20px;
}
#add-relation input.pos-submit {
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #317e95;
}
#add-relation input.pos-submit:hover {
    background-color: #87b4c1;
}
.proxy-profile {
    width: 930px;
    /*background-color: #eaeae8;*/
    background-color: #F7F7F4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    
}
.list-proxy-profile {
    background-color: #F7F7F4;
    border-bottom: 1px dotted  #e2e2dd;
    margin-bottom: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding-top: 1.3em;
}
/*.list-proxy-profile:nth-child(2n-1) {
    background-color: #F7F7F4;
}*/
.proxy {
    width: 430px;
    float: left;
    padding-right: 10px;
}
.profile {
    width: 440px;
    float: right;
    border-left: 1px dotted #d7d6d6;
    padding-left: 30px;
    padding-right: 1em;
    margin-bottom: 1em;
}
#add-relation p.search-status,
#list-relation p.search-status{
    margin-top: -10px;
    font-size: .8em;
    color: #7F8993;
    padding-left: 25px;
    height: 20px;
    
}
#list-relation label {
    color: #064D68;
    padding-left: 20px;
}
li.proxyInfoElement {
    padding-bottom: 1em;
    clear: both;
    padding-left: 20px;
}
#list-relation li {
    padding-bottom: 30px;
}
p.selected-editors {
    padding-top: 1.2em;
    border-top: 1px solid #E0DFDF;
    padding-left: 1.2em;
}
img.photo-profile, 
img.photo-proxy {
    border: 1px solid #DDE4E3;
    float: left;
}
#add-relation p.proxy-info,
#list-relation p.proxy-info,
#edit-myProxy p.proxy-info {
    padding-left: 110px;
    padding-top: 15px;
}
#add-relation p.proxy-info-profile,
#list-relation p.proxy-info-profile {
    padding-left: 75px;
    padding-top: 5px;
    margin-bottom: 0;
}
span.class-label {
    color: #7F8993;
}
a.remove-proxy,
a.remove-proxyUri {
    font-size: .9em;
}
h4.profile-editors,
#verifyProfileLink {
    margin-left: 10px;
}
#search-proxy {
    border-top: 1px solid #E1E5E7;
    padding: 10px;
    padding-top: 20px;
}
#search-proxy p {
    margin-top: .3em;
    font-size: .8em;
}
.proxy-profile .submit {
    clear: both;
    float: left;
    margin-left: 1.5em;
    margin-bottom: 1em;
}
.proxy-item {
    margin-left: 20px;
    margin-top: 20px;
}
span[name=proxySelectorSearchStatus] {
    color: red;
}
img.loading-relateEdior,
img.loading-relateProfile,
img.loading-addProfile,
img.loading-profileMyAccoount {
    padding-left: 10px;
}
span.unlinkedAccount,
a.disable-delete {
	padding-left:24px;
}