/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* ------------------------------------------------->  */
/* BOGUS STUFF FOR PROXIES ------------------------------------>  */
/* ------------------------------------------------->  */

.newProxyItem {
    background-color: #DDFFDD;
}
.existingProxyItem {
    background-color: #DDDDDD;
}
.removedProxyItem {
    background-color: #FFDDDD;
}
