/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* Admin Dashboard */

#adminDashboard {
    display: inline-block;
    width: 100%;
}
#adminDashboard .pageBodyGroup {
    float: left;
    clear: right;
    display: inline-block;
    width: 45%;
    margin: 1em 0;
    padding: 0 1em;
}
#adminDashboard .pageBodyGroup h4 {
    margin: 0;
    padding: 0;
    color: #666;
}
#adminDashboard .pageBodyGroup h3 {
    background-color: #efefef;
    color: #000;
    padding: 5px;
}
#adminDashboard .pageBodyGroup ul {
    margin: 0 0 1em 0.3em;
}
#adminDashboard .pageBodyGroup li {
    list-style-type: none;
}
#adminDashboard #verbosePropertyForm {
    margin-top: 3em;
}
#adminDashboard .add-action-button {
    margin-top: .75em;
}
#alertIcon {
    vertical-align:middle
}