/* $This file is distributed under the terms of the license in /doc/license.txt$ */
/* browseIndex.css contains styles used in the Index pages.  */

/* INDIVIDUAL LIST ------>  */
.individualList ul.individualData li {
    padding-bottom: 0;
}
.pagination  {
    display:inline-block;
}
.pagination li {
    display:inline-block;
    padding-right:2px;
}
.pagination li.selectedNavPage {
    color:#91b039;
    font-size:1em;
}
.rdfLink {
    font-size: 0.8em;
    border-left: 1px solid #a6b1b0;
}

.rdfLink a {
    color: #84a655;
}
