/* $This file is distributed under the terms of the license in /doc/license.txt$ */
/* browseIndex.css contains styles used in the Index pages.  */

/* INDIVIDUAL LIST ------>  */
.individualList ul.individualData li{
    padding-bottom: 0;
    display: inline;
    padding-right: .3em;
}
.pagination {
    display: inline-block;
}
.pagination li{
    display: inline-block;
    padding-right: 2px;
}
.pagination li.selectedNavPage{
    font-size: 1em;
}
.rdfLink {
    font-size: 0.8em;
}
.individualList a.externalLink {
    text-decoration: none;
    font-weight: normal;
}
.individualList ul.individualData {
    display: inline;
}
.individualList ul.individualData li.last {
    border: none;
}
.individualList ul { 
    margin-left: 0; 
}
.individualList li { 
    list-style-type: none;
    margin-bottom: .5em;
 }
.individualList li a { 
    font-weight: normal; 
}