/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* Styles for Freemarker template variable dump */

.dump {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    margin: 1em 0;
}
