/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* Search form styles */

/* Search form */
.advancedSearchForm .form-button {    
    margin-top: 1em 
}
/* Class and subclass refinement links */
.searchTOC {    
    margin-bottom: 1.5em; 
}
/* Search results */
.searchhits li {    
    margin-top: 1em;
}
.searchhits li a {    
    margin-right: .4em; 
}
p.snippet {
    font-size: .8em;
    line-height: 1.4em;
}
span.SearchTerm,
h1 span.SearchTerm,
a:link span.SearchTerm,
a:visited span.SearchTerm {
    font-weight: bold;
    color: #7D7D7D;
}
/* bPaging links */
.searchpages {    
    margin-top: 2em; 
}
.searchpages a,
.searchpages span {
    margin-left: .5em;
    margin-right: .5em;
}
.searchpages a:link,
.searchpages a:visited {    
    text-decoration: none;
}
.searchpages a:hover,
.searchpages a:active {    
    text-decoration: underline; 
}
.searchpages a.prev {
    margin-right: 1em;
    text-decoration: underline;
}
.searchpages a.next {
    margin-left: 1em;
    text-decoration: underline;
}
/* Search tips */
div.searchTips li {
    line-height: 2em;
}
/* Search results */
.display-title {
    font-size: .825em;
    color: #5e6363;
    border-left: 1px solid #A6B1B0;
    padding-left: .7em;
    padding-right: .3em;
    margin-right: 0;
}
.display-title:first-child {
    margin-left: .5em;
}