/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/****************************************
 Vitro base styles
 
 Styles declared here are intended for
 application-wide use.
 
 Original version
 2011-01-12 UI Team
 
 Last updated
 2011-01-13
*****************************************/

/* <------ MISCELLANEOUS*/
.clear {
    clear: both;
}
.hidden {
    display: none !important;
}
/* <------ USER FEEDBACK*/
#error-alert {
    color: #900;
    padding: 10px;
    margin-bottom: 5px;
    height: 30px;
}
#error-alert img {
    float:left;
    margin: 0;
    padding: 0;
    vertical-align: middle;  	
}
#error-alert p {
    padding-left: 30px;
    font-size: .9em;
    line-height: 30px;
}
#error-alert p.login-alert {
    padding-top: 0;
}
#confirmation-alert {
    color: #169f43;
    padding: 0;
    margin-bottom: 5px;
    height: 30px;
}
#confirmation-alert img {
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
#confirmation-alert p {
    padding-left: 30px;
    font-size: .9em;
    line-height: 30px;
}
#flash-message{
    background-color: #7285a0;
    padding: .5em;  
    margin-bottom: 10px;
}
/* <------ INDEX PAGE*/
.siteMap h2 {
    padding-bottom: 0;
}
.class-group {
    margin-right:25px;
}
#isotope-container {
    height:620px;
    overflow:visible;
}
/* <------ SEARCH RESULTS PAGE*/
.searchTOC {    
    margin-bottom: 1.5em; 
    float:right;
    margin-right:35px;
    margin-left:45px;
    width:182px;
    text-align:center;
/*    border: 1px solid #dde4e3;*/
    padding-top:4px;
    color: #fff;
    background: #5e6363; 
}
.searchTOC span {    
    color: #fff;
}
.searchTOC ul {
    width: 160px;
    border: 1px solid #dde4e3;
    background: #f1f2ee;
    padding: 0 10px 0px 10px;
    margin-top: 4px;
    text-align: left;
}
.searchTOC ul li {
    display: block;
    border-bottom: 1px solid #dde4e3;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
}
.searchTOC ul li:last-child {
    border-bottom: none
}
.searchTOC ul a {
    display: block;
    padding-left: 15px;
}