/* $This file is distributed under the terms of the license in LICENSE$ */
.li-selected>a>label::before {
	content: url(../../images/checkMark.svg);
	color: #2ea0cf;
	padding-right: 5px;
	margin-left: -17px;
}

.checked-search-input-label {
	padding: 2px 5px 2px 5px;
	border: 0px;
	background-color: inherit;
}

.range-slider {
	margin-bottom: 15px;
}

.range-slider-end {
	display: inline-block;
}

.range-slider-start {
	display: inline-block;
}

#filter-form-sort {
	margin: 0px;
	border-bottom: 0px;
	border-top: 0px;
	border-right: 0px;
	height: 3em;
	border-radius: unset;
	color: rgb(112, 106, 102);
	font-family: inherit;
}

#filter-form-hits-per-page {
	margin: 0px;
	border-bottom: 0px;
	border-top: 0px;
	border-right: 0px;
	height: 3em;
	border-radius: unset;
	color: rgb(112, 106, 102);
	font-family: inherit;
}

#browsing-options {
	border-bottom: 1px solid #dde4e3;
	padding-left: 11px;
	display: flex;
	justify-content: space-between;
}

.display-title {
	font-size: small;
	display: block;
}

.pagination-container {
	width: 100%;
	padding: 20px 20px;
	display: inline-block;
	font-size: .8em;
	box-sizing: border-box;
}

.pagination-container:not(:last-child) {
	border-bottom: 1px solid #dde4e3;
}

.pagination-container ul {
	display: inline;
}

.pagination-container li.selected {
	padding: 0 0.4em;
	line-height: 1.5;
	color: #333;
	background: #ddd;
}

.pagination-container li {
	display: inline-block;
	border: none;
}

.pagination-container li a {
	padding: 0 0.4em;
}

.pagination-container .round {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#browse-filters {
	width: 271px;
	float: left;
	background-color: #f1f2ee;
}

#browse-filters>li:not(:last-child) {
	border-bottom: 1px dotted #dde4e3;
}

#browse-filters>li {
	margin-left: 12px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style: none;
}

#browse-filters li a {
	padding-left: 10px;
	text-decoration: none;
	display: block;
}

#browse-filters li a label {
	display: block;
	margin: 0px;
}

#browse-filters li a label:hover {
	color: #2ea0cf;
}

.li-selected a label {
	color: #2ea0cf;
}

li>a>label:hover {
	color: #2ea0cf;
}

#browse-filters li:not(.li-selected)>a>label:hover::before {
	content: url(../../images/checkMark.svg);
	padding-right: 5px;
	margin-left: -17px;
}

#browse-filters li.li-selected>a>label:hover::before {
	content: unset;
	padding-right: unset;
	margin-left: unset;
}

.facet-values {
	padding-left: 10px;
}

.facet-values li {
	padding-top: 10px;
}

.facet-values label {
	cursor: pointer;
}

.filter-tab>a:focus {
	color: unset;
	text-decoration: none;
}

.range-filter {
	padding-right: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 4px;
}

.download-url {
	padding: 5px 25px 5px;
}

#downloadIcon {
	padding-left: 7px;
	font-size: 14px;
	color: rgb(112, 106, 102);
	font-family: inherit;
}

.facet-input {
	width: 100%;
}

.hidden-search-option {
	display: none;
}

.hidden-all-search-options {
	display: none;
}

.download-results-text-button {
	border: 0px;
	background-color: transparent;
}

nav#alphabetical-index-container {
	border-bottom: 1px solid #dde4e3;
	border-right: 1px solid #dde4e3;
}

nav#alphabetical-index-container {
	width: 100%;
	float: left;
	padding-left: 10px;
	margin-left: 1px;
	box-sizing: border-box;
}

ul#alphabetical-index-individuals {
	background-color: #fff;
	float: left;
}

ul#alphabetical-index-individuals li {
	float: left;
	margin-right: 5px;
	font-size: .8em;
}

#individuals-in-class ul {
	list-style: none;
	float: left;
	width: 100%;
}

#individuals-in-class {
	float: right;
	width: 68%;
	padding-bottom: 30px;
	margin-bottom: 30px;
	margin-right: 17px;
	min-height: 170px;
}

#individuals-in-class span.title {
	display: block;
	margin: .8em 0 0 0;
	font-size: .8em;
	line-height: 1;
}

ul#alphabetical-index-individuals a:hover, ul#alphabetical-index-individuals a.selected
	{
	background: url(../../images/arrowSmall.svg) 0px 6px no-repeat;
	color: #2ea0cf;
}

ul#alphabetical-index-individuals a {
	display: block;
	height: 35px;
	margin-left: 0;
	padding-left: 8px;
	text-decoration: none;
}

#browse-by {
	clear: both;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

#browse-by h2 {
	height: 44px;
	line-height: 44px;
	padding-left: 15px;
	margin-bottom: 27px;
}

li.individual {
	width: 90%;
	padding: 20px 0;
	margin-left: 20px;
	margin-right: 30px;
	overflow: hidden;
}

li.individual img {
	float: left;
	margin-right: 20px;
}

li.individual h1 {
	padding: 0;
	line-height: 1.2em;
	font-weight: bold;
}

li.individual h1.thumb {
	padding-top: 30px;
}

p.no-individuals:first-child {
	margin-top: 2em;
	margin-left: 2em;
	margin-bottom: 1em;
}

p.no-individuals:not(:first-child) {
	margin-left: 2em;
}