# from tomcat documentation http://tomcat.apache.org/tomcat-5.5-doc/logging.html
# put commons-logging-1.1.jar, log4j-1.2.14.jar in tomcat/common/lib
# and this properties file in tomcat/common/classes

# This log4j configuration sets up a file called tomcat.log in your
# Tomcat logs folder with a maximum file size of 10MB and up to 10
# backups. DEBUG level is specified which will result in the most
# verbose output from Tomcat.
# 
# You can (and should) be more picky about which packages to include in
# the logging. Tomcat 5.5 uses defines loggers by Engine and Host
# names. For example, for a default Catalina localhost log, add this to
# the end of the log4j.properties above. Note that there are known
# issues with using this naming convention (with square brackets) in
# log4j XML based configuration files, so we recommend you use a
# properties file as described until a future version of log4j allows
# this convention.
# 
#* log4j.logger.org.apache.catalina.core.ContainerBase.[Catalina].[localhost]=DEBUG, R
#* log4j.logger.org.apache.catalina.core=DEBUG, R
#* log4j.logger.org.apache.catalina.session=DEBUG, R
# 
# Be warned a level of DEBUG will produce megabytes of logging and slow
# startup of Tomcat. This level should be used sparingly when debugging
# of internal Tomcat operations is required.
# 
# Your web applications should certainly use their own log4j
# configuration. This is valid with the above configuration. You would
# place a similar log4j.properties file in your web application's
# WEB-INF/classes folder, and log4j1.2.8.jar into WEB-INF/lib. Then
# specify your package level logging. This is a basic setup of log4j
# which does *not* require Commons-Logging, and you should consult the
# log4j documentation for more options.

log4j.rootLogger=INFO, R 
log4j.appender.R=org.apache.log4j.RollingFileAppender 
log4j.appender.R.File=${catalina.home}/logs/tomcat.server.log
log4j.appender.R.MaxFileSize=5MB 
log4j.appender.R.MaxBackupIndex=3
log4j.appender.R.layout=org.apache.log4j.PatternLayout 
log4j.appender.R.layout.ConversionPattern=%p %t %c - %m%n 
log4j.logger.org.apache.catalina=INFO, R
          




