## $This file is distributed under the terms of the license in /doc/license.txt$

<h2>$title</h2>
<h3>$!foo</h3>
#if ($aboutText)
    <div class="pageGroupBody" id="aboutText">$aboutText</div>
#end
    
#if ($acknowledgeText)
    <div class="pageGroupBody" id="acknowledgementText">$acknowledgeText</div> 
#end
          
            