## $This file is distributed under the terms of the license in /doc/license.txt$ 

#if ($message)
    <p>$message</p>
#else
    #foreach ($classGroup in $classGroups)
        <h2>$classGroup.publicName</h2>
        ##parse("${classGroup.publicName}.vm")
        <ul>
            #foreach ($class in $classGroup.vitroClassList)
                <li><a href="${entityListUri}${class.URI}">$class.name</a> ($class.entityCount)</li>
            #end
        </ul>
    #end
#end