## $This file is distributed under the terms of the license in /doc/license.txt$ 

<div id="searchBlock">
    <form id="searchForm" action="$searchUrl" >                    
        <label for="search">Search </label>

        #if ($showFlag1SearchField)
            <select id="search-form-modifier" name="flag1" class="form-item" >
                <option value="nofiltering" selected="selected">entire database ($loginName)</option>
                <option value="$portalId">$tagline</option>
            </select>
        #else
            <input type="hidden" name="flag1" value="$portalId" />
        #end
            
        ## The if here is pretty ugly. Should be able to use a quiet reference $!querytext, but with strict
        ## references turned on this causes a runtime error. See http://issues.apache.org/jira/browse/VELOCITY-739.
        <input type="text" name="querytext" id="search" class="search-form-item" value="#if ($querytext) $querytext #end" size="20" />
        <input class="search-form-submit" name="submit" type="submit"  value="Search" />
    </form>
</div>