/* $This file is distributed under the terms of the license in /doc/license.txt$ */

body {background: #fff;}
	
h2
{	
	margin: 0;
	font-size: 14pt;
	line-height: 20px;
	padding: 12px 0 22px 0px;
	font-weight: normal;
}

.confirm
{
	margin: 0;
	font-size: 14pt;
	line-height: 20px;
	padding: 12px 0 12px 0px;
	font-weight: normal;
	color: #AB1A2A;
}

td
{	
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-size: 11px;
	line-height: 20px;
}
	
.rowBkgrd { background: #F4F4F4; } /* was #eee; */

.tableHeading
{
	font-weight: bold;
	white-space: nowrap;
}

.label
{
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}